
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FAQ</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>FAQ - Frequently Asked Questions</div>
    <br />
    <div>
        When will this page be ready?
        This page is at the development stage. The more relevant questions you ask us, the steeper this page will be with each new version of our site.
    </div>
    <br />
    <div>Example:</div>
    <div>Question: Why the login button dose not work?</div>
    <div>Answer:The login button is in development stages, for forther information, go to technical support.</div>
</body>
</html>