@model MVC5_proj.ModelView.UserViewModel

@{
    ViewBag.Title = "ShowAbout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

</style>

<div class="">
    <section class="get-info">
        <div class="col-sm-6">
            <div class="info-img">
                <img src="https://www.artistsnetwork.com/wp-content/uploads/2017/11/events-test-image.png" alt="">
            </div>
        </div>
        <div class="col-sm-6">
            <h1>Deaf people</h1>
            <p>Deaf culture has its own language, values, rules for behaviour and traditions. Some of these cultural aspects are a function of using a visual language rather than an oral one</p>
        </div>
    </section>
    <div class="post_content">
        <h2><span style="color: #3db8ea;">We are a group of students with great enthusiasm and ideas that we want to bring to life.</span></h2>
        <p style="color: #3db8ea;>at the moment our site is under development, so we apologize in advance for not a perfect site.</pstyle=" color:>
        <p>
            The deaf and hard of hearing community is diverse.  There are variations in how a person becomes deaf or hard of hearing, level of hearing,  age of onset, educational background, communication methods, and cultural identity.  How people “label” or identify themselves is personal and may reflect identification with the deaf and hard of hearing community,
        </p>
    </div>                                        <section class="get-info">
        <div class="col-sm-6">
            <div class="info-img">
                <img src="https://www.artistsnetwork.com/wp-content/uploads/2017/11/GettyImages-639395746.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-6">
    </section>
</div>

